<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Búsqueda</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "busqueda.css"%>
</head>


<body>
  <div id="IdBusqueda">
        <%=yield%>
  </div>
</body>
</html>
