<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Sistema de Eventos ALUX</title>
  <link rel="stylesheet" type="text/css" href="css/sie.css">
  <script src="js/jquery-1.8.2.min.js"></script>
  <script src="js/funciones.js"></script>
  <script src="js/eventos.js"></script>
</head>

<body>
  <div id="IdContenedor">
    <div id="IdLogin">
      <div id="IdControles"> <!-- Codigo para login (User y Pass de 15 caracteres) -->
        <div class="loginInicio"></div><div class="loginIInicio"></div>
        <div class="loginUsuario"></div><div class="loginIUsuario"><input class="loginInput" type="text" maxlength="15"></div>
        <div class="loginContrasenia"></div><div class="loginIContrasenia"><input class="loginInput" type="password" maxlength="15"></div>
      </div>  <!-- Fin Codigo -->
    </div>
  </div>
</body>
</html>