<div id="IdControles">
          <!-- Codigo para Busqueda -->
          <div class="busquedaTextoFondo"> <%=text_field_tag :dato_invitado,  nil, :class => "busquedaTexto", :placeholder => "Nombre" %></div><div class="busquedaLupa"></div>
          <div id="contenido" class="tabla">
             <img alt="spinner" id="spinner" src="/images/loading_spinner.gif" style="display:none;" />
          </div>
</div>
<!-- Fin Codigo -->

<%= observe_field :dato_invitado,
        :frequency => 0.02,
        :loading => "Element.show('spinner')",
        :complete => "Element.hide('spinner')",
        :url => {:controller => 'invitados',
        :action => 'busqueda_invitado'},
        :update => 'contenido',
        :with => :dato_invitado %>
